:root {
    --azul: #36CDEB ;
    --roxo: #301E89;
    --roxo-escuro: #201731;
    --rosa: #B91455;
}

body {
    background-image: url(https://media.istockphoto.com/id/1307942926/vector/seamless-gamer-shooting-target-background-pattern.jpg?s=612x612&w=0&k=20&c=Js5P0qgoSVQ3lzcSPAAi9gevJh6G3Eb8WXa9RNHh3Ls=);
}

main {
    background-color: rgba(32, 23, 59, .85);
    font-family: 'Eight Bit Dragon', sans-serif;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
    margin-top: 300px;
}

h1 {
    border: 8px solid var(--azul);
    background-color: var(--roxo);
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 30px 0;
}

.botaoIniciar {
    border: 5px solid #136e13;
    background-color: #00c621;
    border-radius: 10px;
    font-family: 'Eight Bit Dragon', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.botaoIniciar:hover {
    border: 5px solid #0d4a0d;
    background-color: #027d16;
}

.botaoEscolha1 {
    border: 5px solid var(--azul);
    background-color: var(--roxo);
    border-radius: 15px;
    font-family: 'Eight Bit Dragon', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
}

.botaoEscolha1:hover {
    border: 5px solid var(--rosa);
    background-color: var(--roxo-escuro);
}

.botaoEscolha2 {
    border: 5px solid var(--azul);
    background-color: var(--roxo);
    border-radius: 15px;
    font-family: 'Eight Bit Dragon', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
}

.botaoEscolha2:hover {
    border: 5px solid var(--rosa);
    background-color: var(--roxo-escuro);
}